body{
    margin: 0px;
    border: 1px solid wheat;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; /*To make image stay the same*/
}

#site-menu{
    padding: 5px;
    display: flex;
    background-color: #7B4071;
    color: #C8FCEA;
    font-family: "Lucida Handwriting";
}

#info{
    width: 20%;
    text-align: center;
    font-size: large;
}

#links{
    
    text-align: center;
    flex: 1;
}

#links a{
    padding-left: 10%;
    color: #C8FCEA;
    text-decoration: none;
}

#links a:hover{
    color: #6EBFD2;
    text-decoration: underline;
}

#search{
    color: #8D6F8B;
}

#search button{
    background-color: #D5EDEE;
    border-radius: 10px;
    height: 90%;
}

#search-input{
    background-color: #D5EDEE;
    height: 65%;
    border-radius: 10px;
    border: 1px;
}

::placeholder {
    color: #8D6F8B;
}

#main{
    height: 1000px;
}

