body{
    margin: 0px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; /*To make image stay the same*/
}

h1, h2, h3, h4 {

    margin:0px;
    padding:0px;

}

button{
    background-color: #D5EDEE;
    border-radius: 10px;
    height: 90%;
}

input{
    background-color: #D5EDEE;
    border-radius: 10px;
    border: 1px;
}

#site-menu{
    padding: 5px;
    display: flex;
    background-color: #7B4071;
    color: #C8FCEA;
    font-family: "Lucida Handwriting";
}

#info{
    width: 20%;
    text-align: center;
    font-size: large;
}

#links{
    
    text-align: center;
    flex: 1;
}

a{
        color: #C8FCEA;
    text-decoration: none;
}

#links a{
    padding-left: 10%;
}

a:hover{
    color: #6EBFD2;
    text-decoration: underline;
}

#search{
    color: #8D6F8B;
}

#search-input{
    height: 65%;
}

::placeholder {
    color: #8D6F8B;
}

#main{
    background-color: #8D6F8B;
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    opacity: 95%;
    color: whitesmoke;
    font-family: Helvetica;
    padding: 5px;
    font-size: medium;
}

#main h1{
    text-align: center;
    font-size: 30px;
}

#contactinfo input{
    width: 95%;
    word-wrap: break-word;
    word-break: break-word;
}